#bot{
    position: fixed;
    bottom: 25px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#botdiv{
    background-color: #30C5FF;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* animation-name: blinker;
    animation-delay: .5s;
    animation-iteration-count: 3;
    animation-duration: .3s;
    transition: .4s; */
    animation-name: pular;
    animation-delay: .5s;
    animation-iteration-count: 8;
    animation-direction: alternate;  
    animation-duration: .5s;
    transition: .5s;
}
#boticon{
    width: 50px;
    height: 50px;
}

.vagas{
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    animation-name: blinker;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    /* transition: .1s; */
}
 
@keyframes blinker {
    0%{ 
        opacity: 1.0;
    }
    90%{
        opacity: 1.0;
    }
    100%{ 
        opacity: 0.0;
    }
} 

@keyframes pular{
    from{ transform: rotateY(0); }
    to{ transform: translateY(8px); }
}

@keyframes mostrar{
    0%{
        display: block;
    }
    90%{

    }
    100%{
        display: none;
    }
}