body{
    margin: 0;
    height: 820px;/*3640*/
    width: 100vw; /*1810   1902*/
}
#div{
    background-image: url('./menu-home.jpg');
    overflow-y: visible;
    /*overflow-x: hidden; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}

.clique{
    /* border: 10px red solid; */
    position: absolute;
    bottom: 22%;
    height: 45px;
    width: 120px;
    cursor: pointer;
}

#estagio{
    left: 13%;
}

#experientes{
    right: 8%;
}
/* 
#redes{
    position: absolute;
    display: flex;
    justify-content: center;
    border: 10px red solid;
    width: 36%;
    height: 60px;
    bottom: -246%;
    left: 26.5%;
} */

#face{
    /* border: 10px green solid; */
    width: 20%;
}

#youtube{
    /* border: 10px green solid; */
    width: 20%;
}

#twitter{
    /* border: 10px green solid; */
    width: 20%;
}

#insta{
    /* border: 10px green solid; */
    width: 20%;
}

#linkedin{
    /* border: 10px green solid; */
    width: 20%;
}

@media(min-width: 1280px){
    body{
        height: 820px;/*3700*/
    }
    #div{
        background-size: cover;
    }
    .clique{
        bottom: 25%;
    }
    #experientes{
        right: 9%;
    }

    #redes{
        position: absolute;
        display: flex;
        justify-content: center;
        /* border: 10px red solid; */
        width: 40%;
        height: 60px;
        bottom: -299%;
        left: 30.5%;
    }
    
    #face{
        width: 20%;
    }
    
    #youtube{
        width: 20%;
    }
    
    #twitter{
        width: 20%;
    }
    
    #insta{
        width: 20%;
    }
    
    #linkedin{
        width: 20%;
    }
}

@media(min-width: 1920px){
    body{
        height: 4840px;
    }
    #div{
        background-size: cover;
    }
    .clique{
        bottom: 25%;
        width: 190px;
    }
    #experientes{
        bottom: 25%;
    }
}